body, html {
	padding: 0;
	margin: 0;
	text-align: center;
}

#topbar {
	margin: 0;
	padding: 24px;
	width: 100%;
	background-color: var(--md-primary-tab-container-color, var(--md-sys-color-surface, #fef7ff));
}

#topbar-bg {
	width: 100%;
	background-color: var(--md-primary-tab-container-color, var(--md-sys-color-surface, #fef7ff));
}

.app-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.app-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.app-item img {
    width: 100%;
    border-radius: 10px;
}

.app-item h2 {
    font-size: 20px;
    margin: 10px 0;
}

.app-item p {
    color: #666;
    font-size: 14px;
}

.app-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
	transition-duration: 0.25s;
    border-radius: 5px;
}

.app-item a:hover {
    background-color: #0056b3;
}

.captureImage 
{
	margin: 48px;
}