/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background: #0c0c0d;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition-duration: 0.25s;
}

.header.opaque {
  background-color: #0c0c0d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo {
  height: 64.52px;
  text-decoration: none;
  color: #fff;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
}
.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}
.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.2s ease;
}
.navbar .links a:hover {
  color: #b06da0;
}
.navbar .buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}
.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}
.navbar .buttons .signin:hover {
  color: #b06da0;
}
.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}
.navbar .buttons .signup:hover {
  background-color: #b06da0;
  color: #fff;
}
.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  background: #0c0c0d;
}
.hero-section-3 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  margin: 0 auto;
  background: #0c0c0d;
}
.hero-section .hero {
  max-width: 50%;
  color: #fff;
}
.hero-section-2 .hero {
  max-width: 50%;
  color: #fff;
}
.hero-section-3 .hero {
  max-width: 50%;
  color: #fff;
}
.hero-section-3 .hero-2 {
  width: 100%;
  color: #fff;
}
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-2 h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero-2 p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-section .img img {
  width: 517px;
}
.hero-section-2 .img img {
  width: 517px;
}
.hero-section .buttons {
  margin-top: 40px;
}
.hero-section-2 .buttons {
  margin-top: 40px;
}
.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}
.hero-section-2 .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}
.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}
.hero-section-2 .buttons a:not(:last-child) {
  margin-right: 15px;
}
.buttons .join {
  background-color: #cc7ab9;
}
.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}
.hero-section-2 .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}
.hero-section .buttons a:hover {
  background-color: #b06da0;
}
.hero-section-2 .buttons a:hover {
  background-color: #b06da0;
}
/* Hamburger menu styles */
#menu-toggle {
  display: none;
}
#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}
@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #175d69;
    flex-direction: column;
    transition: 0.3s ease;
  }
  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }
  .navbar #hamburger-btn {
    display: block;
  }
  .header .buttons {
    display: none;
  }
  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }
  .hero-section-2 .hero {
    max-width: 100%;
    text-align: center;
  }
  .hero-section img {
    display: none;
  }
  .hero-section-2 img {
    display: none;
  }
}

hr {
	border-color: #404040; /* Removes default border */
	border-top: none;
    text-align: center;
}

.app-item-extra hr {
	border-color: #404040; /* Removes default border */
	border-top: none;
    text-align: center;
	margin: 2px 0px 3px 0px;
}

.app-list {
	align-items: center;
	height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.app-item {
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.app-item img {
    width: 100%;
    border-radius: 10px;
}

.app-item h2 {
    font-size: 20px;
    margin: 10px 0;
}

.app-item p {
    color: #666;
    font-size: 14px;
}

.app-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #cc7ab9;
    color: white;
    text-decoration: none;
	transition-duration: 0.25s;
    border-radius: 5px;
}

.app-item a:hover {
    background-color: #b06da0;
}

.app-item-extra {
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 8px;
    padding: 15px;
    width: 300px;
}

.app-item-extra img {
    width: 100%;
    border-radius: 10px;
}

.app-item-extra h2 {
    font-size: 20px;
    margin: 10px 0;
}

.app-item-extra p {
    color: #666;
    font-size: 14px;
}

.app-item-extra a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #cc7ab9;
    color: white;
    text-decoration: none;
	transition-duration: 0.25s;
    border-radius: 5px;
}

.app-item-extra a:hover {
    background-color: #b06da0;
}

.material-symbols-outlined {
	padding: 24px;
}

.transparent {
	color: transparent;
}

.transparent_bg {
	background: transparent;
}

.extra_padding {
	padding: 22px 8px 22px 8px;
}